.container {
    background-color: silver;
}

button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 20px;
}

button:hover {
    background: orangered;
}

button:active {
    background: black;
    color: white;
}

.slider {
    margin: 30px auto;
    width: 500px;
}

.slider img {
    width: 100%;
}

.slider-line {
    height: 500px;
    background: orangered;
    display: flex;
    width: 100%;
    overflow: hidden;
}